.container {
    display: flex;
    position: relative;
}
.flex-columna {
    display: flex;
    flex-direction: column;
}
.flex-fila {
    display: flex;
    flex-direction: row;
}
.flex-justificado-centro {
    justify-content: center;
    display: flex;
}
.flex-alineado-centro {
    align-items: center;
    display: flex;
}
.fila40 {
    width: 40%;
}
.fila20 {
    width: 20%;
}
.fila60 {
    width: 60%;
}
.fila80 {
    width: 80%;
}
.fila100 {
    width: 100%;
}
.imagen-resposiva {
    width: 100%;
    height: auto;
    object-fit: contain;
}
.imagen-cabecera {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}
.navbar {
    background-color: #F2F2F2;
    padding: 10px;
}
.navbar ul li {
    display: inline;
    margin-right: 10px;
}
.contenido {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}
.foto {
    margin-bottom: 10px;
}
.foto-personal {
    width: 150px;
    /* Ajusta el tamaño según tus necesidades */
}
.frase {
    background-color: #EDAAAA;
    text-align: center;
}


